<!DOCTYPE HTML>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Адрес</title>
 <style>
 body {background-color: #98bfd5}
 h1 {color: #494949; font-size: 3.5em}
 p {color: #494949; font-size: 1.2em}
 </style>
 
  
</head>
<body>
    <% include blocks/header.ejs %>
    <div>
        <h1>Адрес  <%= testId %> </h1>
       <p>Метро Савеловская. Выйти из метро через стеклянные двери и повернуть по переходу налево. 
            Затем, поднявшись по лестнице, идти прямо (Савеловский вокзал остается справа). 
            Обойти слева 2-х этажное здание с надписью «Стоматология» и выйти на ул. Большая Новодмитровская. 
            Идти прямо по ней мимо проходной «Аэроэлектромаш», мимо шлагбаума. Подходите к проходной №1 под синим козырьком.
            На проходной оформляете пропуск (с паспортом), выходите из проходной и обходите здание по часовой стрелке. 
            Идете к проходной №4. От проходной поворачиваете налево к лифтам №13 и №14, этаж 5.</p> 
    </div>
</body>
</html> 