<!DOCTYPE HTML>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Об институте</title>
 <style>
 body {background-color: #bed598}
 h1 {color: #494949; font-size: 3.5em}
 p {color: #494949; font-size: 1.2em}
</style>
  
</head>
<body>
        <% include blocks/header.ejs %>
    <h1>Об институте</h1>
   <p>Некоммерческое образовательное учреждение дополнительного профессионального образования 
        «Институт аэронавигации»
         учреждено ФГУП «Госкорпорация по ОрВД» в 2004 году на основании согласия Федерального агентства воздушного транспорта Министерства 
         транспорта Российской Федерации
         (Решение № НШ 1.13-962 от 03.11.2004 г. и зарегистрирован 21.05.2004 г. в МИМНС России в г. Москве № 46, за ОГРН 1047796356761) 
        с целью организации обучения специалистов ФГУП «Госкорпорация по ОрВД» по программам повышения квалификации и профессиональной переподготовки.</p> 
</body>
</html>