<!DOCTYPE HTML>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>аэронавигация</title>
 <style>
    body {background-color: #98d5c3}
    h1 {color: #494949; font-size: 3.5em}
    p {color: #494949; font-size: 1.2em}
   </style>
     
 
  
</head>
<body>
        <% include blocks/header.ejs %>
  <h1>Институт</h1>
   <p>Потребность авиапредприятий в квалифицированном персонале остается столь же острой проблемой отрасли, как и старение кадров.
      В том числе, это относится и к подготовке авиадиспетчеров.
       Дефицит специалистов в этой отрасли косвенно связан и с возросшими требованиями к их профессиональному обучению. 
       Динамичное развитие авиационной техники и системы аэронавигационного обеспечения полетов требует от специалистов постоянного обновления знаний, 
       а также поддержания профессиональных навыков. Некоммерческое образовательное учреждение дополнительного профессионального образования
        Институт аэронавигации создано в 2004 году для организации курсов повышения квалификации и переподготовки персонала ОВД.
        Инициатором его создания и единственным учредителем стало ФГУП «Госкорпорация по ОрВД». Оно же является и основным заказчиком на образовательные услуги. 
        Это соответствует мировой практике – в структурах всех крупных поставщиков аэронавигационного обслуживания имеются собственные учебные центры, 
      задача которых обеспечить оперативное реагирование на быстро меняющиеся требования пользователей воздушного пространства. </p>  
</body>
</html>